<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<ul class="nav nav-list">
					<li class="active">
						<a href="/myadmin/dashboard">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Dashboard </span>
						</a>

						<b class="arrow"></b>
					</li>
					
					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-edit"></i>
							<span class="menu-text">
								Categories
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							

							<li class="">
								<a href="/myadmin/add_category">
									<i class="menu-icon fa fa-caret-right"></i>
									Add New Category
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/myadmin/all_categories">
									<i class="menu-icon fa fa-caret-right"></i>
									All Categories
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-edit"></i>
							<span class="menu-text">
								Subcategories
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="/myadmin/add_subcategory">
									<i class="menu-icon fa fa-caret-right"></i>
									Add New Subcategory
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/myadmin/all_subcategories">
									<i class="menu-icon fa fa-caret-right"></i>
									All Subcategories
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<li class="">
						<a href="/myadmin/customers">
							<i class="menu-icon fa fa-user"></i>
							<span class="menu-text">Our Customers </span>
						</a>

						<b class="arrow"></b>
					</li>
				
					<li class="">
						<a href="/myadmin/order">
							<i class="menu-icon fa fa-money"></i>
							<span class="menu-text">All Orders </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-edit"></i>
							<span class="menu-text">
								Location
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							

							<li class="">
								<a href="/myadmin/add_state">
									<i class="menu-icon fa fa-caret-right"></i>
									Add New State
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/myadmin/all_state">
									<i class="menu-icon fa fa-caret-right"></i>
									All States
								</a>
								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="/myadmin/add_city">
									<i class="menu-icon fa fa-caret-right"></i>
									Add New City
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/myadmin/all_city">
									<i class="menu-icon fa fa-caret-right"></i>
									All Cities
								</a>
								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="/myadmin/add_area">
									<i class="menu-icon fa fa-caret-right"></i>
									Add New Area
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/myadmin/all_area">
									<i class="menu-icon fa fa-caret-right"></i>
									All Areas
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>



					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-edit"></i>
							<span class="menu-text">
								Report
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							

							<li class="">
								<a href="/myadmin/customer_report">
									<i class="menu-icon fa fa-caret-right"></i>
									Customer
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/myadmin/order_report">
									<i class="menu-icon fa fa-caret-right"></i>
									Order
								</a>
								<b class="arrow"></b>
							</li>
														
						</ul>
					</li>



					<li class="">
						<a href="/myadmin/inquiry">
							<i class="menu-icon fa fa-envelope-o"></i>
							<span class="menu-text"> Inquiries </span>
						</a>

						<b class="arrow"></b>
					</li>
					<li class="">
						<a href="/myadmin/feedback">
							<i class="menu-icon fa fa-comment-o"></i>
							<span class="menu-text"> Feedback </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="active">
						<a href="/myadmin/logout">
							<i class="menu-icon fa fa-sign-out"></i>
							<span class="menu-text"> Logout </span>
						</a>

						<b class="arrow"></b>
					</li>

					

				</ul><!-- /.nav-list -->

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>
