    src="{% load static %}
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="{% static 'customer/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- popper js -->
    <script src="{% static 'customer/js/popper.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'customer/js/bootstrap.min.js' %}"></script>
    <!-- owl.carousel js -->
    <script src="{% static 'customer/js/owl.carousel.min.js' %}"></script>
    <!-- meanmenu js -->
    <script src="{% static 'customer/js/jquery.meanmenu.js' %}"></script>
    <!-- wow js -->
    <script src="{% static 'customer/js/wow.min.js' %}"></script>
    <!-- jquery.parallax-1.1.3.js' %} -->
    <script src="{% static 'customer/js/jquery.parallax-1.1.3.js' %}"></script>
    <!-- jquery.countdown.min.js' %} -->
    <script src="{% static 'customer/js/jquery.countdown.min.js' %}"></script>
    <!-- jquery.flexslider.js' %} -->
    <script src="{% static 'customer/js/jquery.flexslider.js' %}"></script>
    <!-- chosen.jquery.min.js' %} -->
    <script src="{% static 'customer/js/chosen.jquery.min.js' %}"></script>
    <!-- jquery.counterup.min.js' %} -->
    <script src="{% static 'customer/js/jquery.counterup.min.js' %}"></script>
    <!-- waypoints.min.js' %} -->
    <script src="{% static 'customer/js/waypoints.min.js' %}"></script>
    <!-- plugins js -->
    <script src="{% static 'customer/js/plugins.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'customer/js/main.js' %}"></script>