{% extends 'myadmin/inc/layout.html' %}
{% block content %}
<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li>
								<a href="#">Customers</a>
							</li>
							<li class="active">Individual Customer</li>
						</ul><!-- /.breadcrumb -->

						
					</div>

					<div class="page-content">
					

						<div class="page-header">
							<h1>
								Customers
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									Individual Customer Details
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								
							

								<div class="row">
									<div class="col-xs-12">
										<div class="table-header">
											All Details of <b>{{result.user.first_name}} {{result.user.last_name}}</b>
										</div>
										<div>
											<table id="dynamic-table" class="table table-striped table-bordered table-hover">
												
											<tr>
												<td>Id</td>
												<td>{{result.user.id}}</td>
											</tr>
											<tr>
												<td>Name</td>
												<td>{{result.user.first_name}} {{result.user.last_name}}</td>
											</tr>
											<tr>
												<td>Email</td>
												<td>{{result.user.email}}</td>
											</tr>
											<tr>
												<td>Username</td>
												<td>{{result.user.username}}</td>
											</tr>
											<tr>
												<td>Contact</td>
												<td>{{result.contact}}</td>
											</tr>
											<tr>
												<td>Gender</td>
												<td>{{result.gender}}</td>
											</tr>

											<tr>
												<td>Address</td>
												<td>{{result.address}}</td>
											</tr>
											
											<tr>
												<td>Area, City</td>
												<td>{{result.area.area_name}}, {{result.city.city_name}}</td>
											</tr>
											<tr>
												<td>State</td>
												<td>{{result.state.state_name}}</td>
											</tr>
											<tr>
												<td>Reg. Date</td>
												<td>{{result.user.date_joined}}</td>
											</tr>
											
											
												
											</table>
										</div>
									</div>
								</div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
{% endblock %}

{% block scripts %}


<script type="text/javascript">
			
				$('#dynamic-table').DataTable();
				
</script>
{% endblock %}