{% extends 'myadmin/inc/layout.html' %}
{% block content %}
<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li>
								<a href="#">Area</a>
							</li>
							<li class="active">Edit Area</li>
						</ul>
					</div>

					<div class="page-content">
						

						<div class="page-header">
							<h1>
							Area
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									Edit Area
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form" method="post" action="/myadmin/update_area/{{result.id}}">
									{% csrf_token %}
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> City </label>

										<div class="col-sm-9">
											<select id="city_id" name="city_id"  class="col-xs-10 col-sm-5">
												<option value="">--Select City--</option>
												{% for c in cities %}
													<option value="{{c.id}}" {% if c.id == result.city_id %} selected {% endif %}>{{c.city_name}}</option>
												{% endfor %}
											</select> 
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Area Name </label>

										<div class="col-sm-9">
											<input type="text" id="name" name="name" value="{{result.area_name}}" class="col-xs-10 col-sm-5" />
										</div>
									</div>

									
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Submit
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Reset
											</button>
										</div>
									</div>

								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock %}