{% extends 'myadmin/inc/layout.html' %}
{% block content %}
<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li>
								<a href="#">Subcategories</a>
							</li>
							<li class="active">Edit Subcategory</li>
						</ul><!-- /.breadcrumb -->

						<!-- <div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>

					<div class="page-content">
						

						<div class="page-header">
							<h1>
							Subcategories
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									Edit Subcategory
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form" method="post" action="/myadmin/update_subcategory/{{result.id}}">
									{% csrf_token %}
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Subcategories </label>

										<div class="col-sm-9">
											<select id="cat_id" name="cat_id"  class="col-xs-10 col-sm-5">
												<option value="">--Select Category--</option>
												{% for c in categories %}
													<option value="{{c.id}}" {% if c.id == result.category_id %} selected {% endif %}>{{c.cat_name}}</option>
												{% endfor%}
											</select> 
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Subcategory Name </label>

										<div class="col-sm-9">
											<input type="text" id="subcat_name" name="subcat_name" placeholder="Enter Subcategory Name.." class="col-xs-10 col-sm-5" value="{{result.subcat_name}}" />
										</div>
									</div>

									
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Update
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Cancel
											</button>
										</div>
									</div>

								</form>
								
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
{% endblock %}