{% extends 'customer/inc/layout.html' %}

{% block content %}

<style type="text/css" media="screen">
	.btn-submit
	{
		    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		    border: 1px solid #eceff8;
		    box-shadow: none;
		    color: #626262;
		    display: inline-block;
		    font-size: 14px;
		    margin-top: 6px;
		    padding: 12px 48px;
		    text-decoration: none;
		    transition: .3s;
		    font-family: 'Rufina', serif;
		    font-weight: 400;
	}
	.btn-submit:hover
	{
	    background-color: #F07C29;
	    color: #fff;
	    border: 1px solid #F07C29;
	}
</style>
	<!-- breadcrumbs-area-start -->
		<div class="breadcrumbs-area mb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumbs-menu">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#" class="active">Change Password</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcrumbs-area-end -->
		<!-- user-login-area-start -->
		<div class="user-login-area mb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="login-title text-center mb-30">
							<h2>Change Password</h2>

						</div>
					</div>
					<div class="offset-lg-3 col-lg-6 col-md-12 col-12">
						
						<form action="/customer/spasse" method="post">
						{% csrf_token %}
						<div class="login-form"> <ul class="messages">
		                    {% if messages %}
			                <ul class="messages">
			                    {% for message in messages %}
			                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			                    {% endfor %}
			                </ul>
			              {% endif %}
							<div class="single-login">
								<label>Old Password<span>*</span></label>
								<input type="text" id="old_pass" name="old_pass" />
							</div>
							<div class="single-login">
								<label>New Password<span>*</span></label>
								<input type="text" id="new_pass" name="new_pass" />
							</div>
							<div class="single-login">
								<label>Confirm New Password<span>*</span></label>
								<input type="text" id="rnew_pass" name="rnew_pass" />
							</div>
							<div class="single-register">
								<input type="submit" name="submit" class="btn-submit" value="Update">
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- user-login-area-end -->
{% endblock %}