
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Python Guides</title>
    <style>
        h1 {
          text-align: center;
          font-size: 24px;
        }
        td, th {
          text-align: center;
        }
      </style>
</head>
<body>
  <img src="https://shivamcasa.000webhostapp.com/book_burter/logo.png" alt="" style="height: 150px; width: 400px">
     <hr/>
      <h1 style="text-decoration: underline;">List of Customers</h1>
      <h3>Report Created On : 05/04/2024</h3>
      <table border="1" align="center" cellpadding="5" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
          
            <th>Contact</th>
            <th>Address</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          
            <tr>
              <td>1 </td>
              <td>abhi </td>
              <td>patoliyabhi17@gmail.com </td>
             
              <td>8980203030</td>
              <td>B/501 Shivam Casa</td>
              <td>April 12, 2023</td>
            </tr>
          
            <tr>
              <td>2 </td>
              <td>krish </td>
              <td>krish@gmail.com </td>
             
              <td>56345346</td>
              <td>ahmedabd</td>
              <td>April 14, 2023</td>
            </tr>
          
            <tr>
              <td>3 </td>
              <td>ayush </td>
              <td>aayushpanchal0708@gmail.com </td>
             
              <td>9725816723</td>
              <td>adsff</td>
              <td>May 2, 2023</td>
            </tr>
          
            <tr>
              <td>4 </td>
              <td>shan </td>
              <td>shan@gmail.com </td>
             
              <td>1234567890</td>
              <td>sddyfaeifmf</td>
              <td>May 2, 2023</td>
            </tr>
          
            <tr>
              <td>5 </td>
              <td>smit </td>
              <td>smit@gmail.com </td>
             
              <td>7487916090</td>
              <td>Himatnagar</td>
              <td>March 14, 2024</td>
            </tr>
              
        </tbody>
      </table>
</body>
</html>